@import url('/font/inter.css');

@tailwind base;

html {
  @apply leading-none antialiased;

  font-size: 16px;
  font-family: Inter, theme('fontFamily.sans');

  @supports (font-variation-settings: normal) {
    font-family: 'Inter var', theme('fontFamily.sans');
  }
}

@tailwind components;

@tailwind utilities;
